<div class="flex-container">
    <div class="tiles" *ngFor="let tile of arrayMainTiles" >
        <!-- <div [ngSwitch]="tile.name"> -->
            <div [ngStyle]="tile_messagerie_Styles" class = "tile-messagerie" #MessagerieElement *ngIf="tile.name == 'Messagerie' && tile.selected"  cdkDrag (cdkDragStarted) = "dragStart($event, 'Messagerie')" (cdkDragMoved)="searchOverlap($event, 'Messagerie')" (cdkDragEnded)="dragEnded($event)">
                Messagerie
            </div>

            <div [ngStyle]="customer_experience_Styles" class = "customer-experience" #CustomerExperienceElement *ngIf="tile.name == 'Customer_Experience' && tile.selected"  cdkDrag (cdkDragStarted) = "dragStart($event, 'Customer_Experience')" (cdkDragMoved)="searchOverlap($event, 'Customer_Experience')" (cdkDragEnded)="dragEnded($event)">
                Customer Experience
            </div>

            <div [ngStyle]="blog_tile_Styles" class = "blog-tile" #BlogElement  *ngIf="tile.name == 'Blog' && tile.selected" cdkDrag (cdkDragStarted) = "dragStart($event, 'Blog')" (cdkDragMoved)="searchOverlap($event, 'Blog')" (cdkDragEnded)="dragEnded($event)">
                Blog
            </div>        
        <!-- </div>     -->
    </div>
</div>



